ion-text{
    font-family: 'Raleway' !important;
    font-size: 14px !important;
}
.send-icon{
    position: absolute;
    top: 18px;
    right: 17px;
    z-index: 999;
}
ion-input{
    border: solid 1px gray;
    border-radius: 5px !important;
    
}
.link-icon{
    position: absolute;
    top: 3px;
    left: 38px;
}
.button-send{
    position: absolute;
    top: 8px;
    right: 5px;
    z-index: 9999;
}



