.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
h4{
    font-family: 'Raleway' !important;
}
ion-input{
    background-color: rgba(196, 196, 196, 0.2) !important;
}
.eye-icon{
    position: absolute;
    top: 10px !important;
    right: 9px !important;
    zoom: 1.5;
    color: grey;
    z-index: 999;
}
.adjustment{
    font-size: 14px !important;
    font-family: 'Raleway' !important;
}
.password-field{
    padding-top: 15px !important;
}
ion-button{
    font-family: 'Raleway' !important;
}