ion-icon{
    zoom: 0.7;
}
.adjustments{
    font-family: 'Raleway' !important;
    font-size: 15px !important;
    padding-left: 15px !important;
}
.eye{
    position: absolute;
    right: 4px;
    top: 20px;
    zoom: 1.3 !important;
    z-index: 999;
}
.input-label{
    font-size: 15px !important;
}
