/* .image-cropper-container{
	background: var(--ion-color-dark);
} */
.content-item{
    position: fixed;
    z-index: 1;
    color: #fff;
    &.back{
        top: 30px;
        left: 20px;
    }
    &.done{
    	top: 30px;
        right: 20px;
    }
    &.rotate{
        right: 20px;
    	bottom: 20px;
	    font-size: 30px;
	    display: flex;
    }
}
.crop-icon{
	border-radius: 50px;
    background-color: #5a5a5a;
}