ion-content{
    --ion-background-color:#B3A25D;
}
.modal-text{
    font-size: 14px;
    line-height: 5px;
    //font-style: 'san-serif';
    color: white;
}

// circle-progress{
//     text{
//         tspan{
//             font-family: 'Raleway' !important;
//         }
//     }
// }