ion-content {
    --overflow: hidden;
}
ion-text{
    font-family: 'Raleway'!important;
    font-size: 13px;
}
.select{
    font-size: 13px !important;
    font-family: 'Raleway' !important;
    max-width: 100% !important;
}
