.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
h4{
    font-family: 'Raleway' !important;
}

ion-input{
    background-color: rgba(196, 196, 196, 0.2);
    font-size: 15px !important;
}
ion-text{
    font-family: 'Raleway' !important;
}
.adjustment{
    font-family: 'Raleway' !important;
    font-size: 13px !important;
}
ion-button{
    font-family: 'Raleway' !important;
    font-size: 14px !important;
}