ion-icon{
    zoom: 0.8;
}
.text-padding{
    padding-bottom: 10px;
}

ion-item{
    width: 95%;
}
.adjustments{
    font-family: 'Raleway' !important;
    font-size: 15px !important;
    padding-left: 15px !important;
    padding-top: 3px !important;
}