<ion-content class="ion-padding">
  <!-- <div class="fullheight xc">
    <div class="vcs"> -->
      <!-- <ion-grid>
        <ion-list>
          <ion-row>
            <ion-col size="12" class="ion-text-center" >
              <img id="logo" src='assets/imgs/GS.svg' >
              <h6 class="no-margin">FORGOT PASSWORD</h6>
            </ion-col>
            <form [formGroup]="forgotPasswordForm">
                <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
                <ng-container *ngIf="forgotPasswordForm.controls.email.touched">
                  <p ion-text text-right class="adjusments" padding-left no-margin margin-bottom color="danger" *ngIf="forgotPasswordForm.controls.email.hasError('required')">This field is required.</p>
                  <p ion-text text-right class="adjusments" padding-left no-margin margin-bottom color="danger" *ngIf="forgotPasswordForm.controls.email.hasError('pattern')">Enter a valid email address.</p>
                  <p ion-text text-right class="adjusments" padding-left no-margin margin-bottom color="danger" *ngIf="!forgotPasswordForm.controls.email.hasError('required') && !forgotPasswordForm.controls.email.hasError('pattern') && userDoesntExist">Email address doesn't exist.</p>
                </ng-container>
            </form>
            <ion-col size="12">
              <ion-button expand="block" (click)="resetPassword()" [disabled]="!forgotPasswordForm.valid">{{ "Reset Password" | uppercase }}</ion-button>
            </ion-col>
          </ion-row> 
          <ion-row style="padding-top: 50px;">
            <ion-col size="12" class="signUp ion-text-center">
              <ion-text>Already have account? <ion-text color="primary" routerLink="/login" routerDirection="back">Log In</ion-text> </ion-text>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-grid>
   </div>
  </div> -->
    <div class="center">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <img id="logo" src="assets/imgs/GS.svg">
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-text class="ion-padding-top forgot-text">FORGOT PASSWORD</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" class="ion-text-start ion-padding">
          <form [formGroup]="forgotPasswordForm" class="ion-padding-horizontal">
            <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
            <ng-container *ngIf="forgotPasswordForm.controls.email.touched">
              <ion-row>
                <ion-col class="ion-text-end">
                  <ion-text class="adjustment ion-padding-vertical" color="danger" *ngIf="!forgotPasswordForm.controls.email.hasError('required') && !forgotPasswordForm.controls.email.hasError('pattern') && userDoesntExist">Email address doesn't exist.</ion-text>
                  <ion-text class="adjustment ion-padding-vertical" color="danger" *ngIf="forgotPasswordForm.controls.email.hasError('pattern')">Enter a valid email address.</ion-text>
                  <ion-text class="adjustment ion-padding-vertical" color="danger" *ngIf="forgotPasswordForm.controls.email.hasError('required')">This field is required.</ion-text>
                </ion-col>
              </ion-row>
            </ng-container>
          </form>
        </ion-col>
        <ion-col size="12" class="ion-text-center ion-padding-horizontal">
          <ion-button strong="true" style="--border-radius: 5px !important;"  class="ion-padding-horizontal" expand="block" (click)="resetPassword()" [disabled]="!forgotPasswordForm.valid">{{ "Reset Password" | uppercase }}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 50px;">
        <ion-col size="12" class="signUp ion-text-center">
          <ion-text class="already-text">Already have account? <ion-text color="primary" routerLink="/login" routerDirection="back">Log In</ion-text> </ion-text>
        </ion-col>
      </ion-row>
    </div>
    
</ion-content>
