.no-connection-text{
    font-size: 18px !important;
}
img-loader{
    border-radius: 50% !important;
}
ion-text{
    // padding-left: 10px !important;
    font-family: 'Raleway' !important;
    font-size: 15px !important;
}
ion-button{
    font-family: 'Raleway' !important;
    font-size: 10.5px;
    height: 30px !important;
}
.text-action{
    font-family: 'Raleway' !important;
    font-size: 10.5px;
}
