.birthdayModal {
    --width: 10%;
    --height: 10%;
  }
ion-input{
    background-color: rgba(196, 196, 196, 0.2);
}
.form-items{
  padding-right: 10px !important;
}
.button-item{
  padding-right: 5px !important;
}
ion-label{
  font-family: 'Raleway' !important;
}
ion-button{
  font-family: 'Raleway' !important;
}

ion-text{
  font-family: 'Raleway' !important;
  font-size: 13px;
}
ion-textarea{
  background-color: rgba(196, 196, 196, 0.2);
}

