<!-- <ion-content>
  <ion-col size="12" class="ion-padding-top">
      <ion-row style="justify-content: center;" class="ion-no-padding">
          <ion-item lines="none">
              <ion-datetime displayFormat="MM/DD/YY" placeholder="MM/DD/YYYY"></ion-datetime>
            </ion-item>
      </ion-row>
  </ion-col>
  <ion-col size="12" class="ion-no-padding">
      <ion-row style="justify-content: center;" class="ion-no-padding">
          <ion-button>SUBMIT</ion-button>
      </ion-row>
  </ion-col>
</ion-content> -->
