$gold: #B3A25D;
$bgcolor:  #FFFFFF;
$color-black:  #000000;
$input-color:  rgba(0, 0, 0, 0.5);
$bgcolor-input:  rgba(196, 196, 196, 0.2);
$bgcolor-searchbox: rgba(229, 228, 226, 0.2);
$discover-color: rgba(0, 0, 0, 0.8);
$submit-color: #FFFFFF;
$sign-color:  #C4C4C4;
$color-gray: #B6B7AD;
$color-999: #999;
$color-darkgray: #9a9a9a;

$font13: 13px;
$font11: 11px;
$font20: 20px;
$font14: 14px;
$font9: 9px;
$font12: 12px;
$font8: 8px;
$font7: 7px;
$font10: 10px;
$font15: 15px;

// FONT SIZE RULING BASED ON ELEMENT TYPE
// Dashboard/Post Details - per item card
$itemOwnerName: 14px;
$itemOwnerNameComments: 12px;
$itemLocationStamp: 11px;
$itemDescription: 14px;
$itemTimestamp: 12px;
$itemCommentControlItem: 13px;
$itemTags: 14px;

// Comments/Replies/Comment Tree
$inputTextSize: 12px;

// Messaging

// Conversation View
