.paded-l{
    padding-left: 13px;
}
.paded-lr{
    padding-left: 13px;
    padding-right: 13px;
}

ion-textarea{
  background-color: rgba(196, 196, 196, 0.2);
}
ion-button{
    --border-radius: 5px !important;
}
