.reward-detail-description{
    font-family: 'Raleway' !important;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 3.5vw !important;
}
ion-text{
    font-family: 'Raleway' !important;
}
.title-text{
    font-size: 18px;
}
.body-text{
    font-size: 14px;
}
.img-container{
    border-radius: 10px !important;
    overflow: hidden;
}