<ion-col class="ion-padding" size="12">
  <ion-row class="ion-padding-top">
    <ion-col class="ion-text-center">
      <ion-text style="font-size: 20px;">Welcome to</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <img src="assets/css/imgs/GS.svg">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center ion-padding">
      <ion-text>Set up your profile and tell us about yourself! Make more connections to see more looks. Save your favorite
        looks to get inspiration!
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button color="primary"(click)="goToTutorial()">Next</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-text color="medium" style="font-size: 15px;" (click)="skipTutorial()">Skip tutorial</ion-text>
    </ion-col>
  </ion-row>
</ion-col>
