ion-input{
    font-size: 15px !important;
}
ion-card{
    width: 100%;
}
.location-autocomp{
    font-family: 'Raleway' !important;
    font-size: 15px !important;
}
ion-button{
    --border-radius: 5px !important;
}