
.img-logo{
    width: 115px;
    height: 120px;
}
.title-text{
    font-size: 20px !important;
    font-family: 'Raleway' !important;
}
.circle {
    margin-left: 10px;
}

.circle-end {
    margin-left: 10px;
    margin-right: 10px;
}
ion-text{
    font-family: 'Raleway' !important;
}
ion-button{
    font-family: 'Raleway' !important;
}
.icon-slide-0{
    position: absolute;
    z-index: 999999 !important;
    // top: 50;
    // right: 20;
}
.action{
    padding-bottom: 15px !important;
}